@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}




//---------Tooltip Start ---------------------//
.tooltip {
  position: relative;
  display: inline-block;
  // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  width: 108px;
  bottom: 104%;
  left: 50%;
  margin-left: -54px;
  visibility: hidden;
  background-color: #e8ebec;
  color: #000;
  text-align: center;
  padding: 4px 8px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

//---------Tooltip End---------------------//

//---------Scrollbar Start---------------------//
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #a5a1a1;
}

//---------Scrollbar End---------------------//







.tech {
  margin: 3.5rem 4rem 10rem 4rem;
  position: relative;
  p {
    position: absolute;
    font-size: 1.1rem;
    font-weight: 500;
    border-right: 2px solid gray;
    width: 120px;
    top: 14px;
  }
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    position: absolute;
    margin-left: 12rem;

    li {
      margin-right: 1.2rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      img {
        width: 55px;
        height: 55px;
        border-radius: 12px;
      }
    }

    li:hover {
      transform: translate(0, -10px);
    }
  }

  @media screen and (min-width: 1920px) {
    margin-left: 27.5rem;
  }
}


.contact {
  padding: 5rem 0 8rem 0rem;

  .contact-info-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h3 {
    // padding-left: 9rem;
    font-size: 17px;
    color: rgb(28, 133, 231);
  }
  .contact-h2-child1 {
    margin: 0.8rem 0 1rem 0;
    padding-left: 2rem;
    font-size: 1.6rem;
    color: rgb(57, 56, 56);
  }
  .contact-down-section {
    // padding-left: 1rem;
    display: flex;
    gap: 5rem;
    margin-top: 3rem;
    h5 {
      padding: 2px;
      color: rgb(54, 54, 54);
      font-size: 16px;
    }
    a {
      padding: 2px;
      text-decoration: none;
      color: rgb(111, 110, 110);
      transition: color 0.7s;
    }

    p {
      padding: 2px;
      color: rgb(111, 110, 110);
      transition: color 0.7s;
      cursor: pointer;
    }

    p:hover {
      color: rgb(28, 133, 231);
    }

    a:hover {
      color: rgb(28, 133, 231);
    }

    .mail-pin {
      display: flex;
      align-items: center;
      gap: 12px;
      span {
        padding: 0.9rem 1.3rem;
        border-radius: 50%;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
        color: rgb(28, 133, 231);
      }
    }
    .mail-div {
      display: flex;
      align-items: center;
      gap: 12px;
      span {
        padding: 0.9rem 1.1rem;
        border-radius: 50%;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
        color: rgb(28, 133, 231);
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 200;
  backdrop-filter: blur(10px);

  .modalContainer {
    position: relative;
    top: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 55%;
    height: 80vh;
    border-radius: 15px;
    background-color: white;

    .img-div {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 200px;
        height: 200px;
        cursor: pointer;
      }
    }

    .form-div {
      ::placeholder {
        font-weight: 800;
        color: #b4b2b2;
      }
      p {
        width: fit-content;
        position: relative;
        margin-top: 0px;
        padding: 4px 8px;
        border-radius: 4px;
        left: 90%;
        cursor: pointer;
      }

      p:hover {
        background-color: rgb(248, 10, 10);
        color: white;
      }
      h2 {
        margin-top: 0 !important;
        margin-bottom: 1.2rem;
      }
      form {
        width: 80%;
        display: flex;
        flex-direction: column;

        .input {
          position: relative;
          width: 100%;
          z-index: 1;
          margin-bottom: 10px;
          input {
            display: block;
            border: none;
            outline: none;
            width: 100%;
            padding: 0 30px 0 50px;
            border-radius: 25px;
            height: 50px;
            background-color: #e6e6e6;
            font-size: 15px;
            color: #666;
          }
          .focus-input {
            display: block;
            position: absolute;
            border-radius: 25px;
            bottom: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            box-shadow: 0 0;
            color: rgba(132, 106, 221, 0.5);
          }

          .symbol-input {
            display: flex;
            align-items: center;
            position: absolute;
            border-radius: 25px;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding-left: 30px;
            pointer-events: none;
            color: #aaa;
            font-size: 15px;
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
          }

          input:focus + .focus-input {
            -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
            animation: anim-shadow 0.5s ease-in-out forwards;
          }

          @-webkit-keyframes anim-shadow {
            to {
              box-shadow: 0 0 60px 25px;
              opacity: 0;
            }
          }

          @keyframes anim-shadow {
            to {
              box-shadow: 0 0 60px 25px;
              opacity: 0;
            }
          }
          input:focus + .focus-input + .symbol-input {
            color: #846add;
            padding-left: 22px;
          }
        }
        .textarea {
          position: relative;
          width: 100%;
          z-index: 1;
          margin-bottom: 10px;
          textarea {
            border: none;
            outline: none;
            min-height: 150px;
            border-radius: 25px;
            padding: 14px 30px;
            display: block;
            width: 100%;
            background: #e6e6e6;
            font-size: 15px;
            line-height: 1.5;
            color: #666;
          }
          span {
            display: block;
            position: absolute;
            border-radius: 25px;
            bottom: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            box-shadow: 0 0;
            color: rgba(132, 106, 221, 0.5);
          }
          textarea:focus + span {
            -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
            animation: anim-shadow 0.5s ease-in-out forwards;
          }
          textarea:focus + span {
            color: #846add;
          }

          @-webkit-keyframes anim-shadow {
            to {
              box-shadow: 0 0 60px 25px;
              opacity: 0;
            }
          }

          @keyframes anim-shadow {
            to {
              box-shadow: 0 0 60px 25px;
              opacity: 0;
            }
          }
        }
      }

      .submit-button {
        width: 100%;
        cursor: pointer;
        color: white;
        height: 50px;
        border-radius: 25px;
        background: #846add;
        border: none;
        outline: none;
        font-size: 15px;
        line-height: 1.5;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        transition: all 0.4s;
        font-weight: 600;
      }
      .submit-button:hover {
        background: #333;
      }
    }
  }
}

.contact-form-div {
  position: relative;

  .contact-form {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    width: fit-content;
    background-color: rgb(28, 133, 231);
    border-radius: 30px;
    padding: 2.5rem 4.5rem;
    z-index: 100;
    top: 66px;
    left: 0;
    right: 0;
    margin: auto;

    p {
      width: 300px;
      font-size: medium;
      font-weight: 500;
      text-align: center;
    }
    h2 {
      padding-left: 0px;
      color: rgb(40, 39, 39);
    }

    button {
      padding: 12px 32px;
      border-radius: 25px;
      border: 2px solid black;
      background-color: rgb(28, 133, 231);
      font-size: medium;
      font-weight: 500;
      cursor: pointer;
    }

    button:hover {
      background-color: rgb(44, 43, 43);
      border: 2px solid rgb(44, 43, 43);
      color: white;
    }
  }
}



